body{
  margin: auto 0;
}

header{
    font-size: 45px;
    margin: 20px;
    font-family: 'Bebas Neue', cursive;
  }


  #navbar {
      background-color: silver;
      border-right: solid;
      align-content: center;
      /* position: fixed;
      min-width: 20%;
      top: 0px;
      left: 0px;
      width: 20%;
      height: 100%;
      border-color: rgba(0, 22, 22, 0.4);
      background-color: silver; */
  }

  .nav-list{
    /* position: fixed;
    overflow: hidden; */
  }
  a{
    font-size: 1.3rem;
    margin: 10px;
    line-height: 200%;
    color: brown;
    text-decoration: none;
  }
  #main-doc{
    margin-left: 2rem;
  }
  article{
    font-size: 20px;
  }
  p {
    margin-top: 30px ;
    margin-bottom: 30px ;
  }
  .bb{
    background-color: silver;
    margin-right: 15px;
    border-radius:10px;
    padding: 30px;
  }
  #l1{
    color: brown;
    background-color: grey;
    padding: 5px;
    border-radius: 10px;
  }
  body{
    background-color: azure;
  }

  @media only screen and (max-width: 600px){
    header{
      font-size: 30px;
    }

    article{
      font-size: 10px;
    }

    a{
      font-size: 1rem;
    }

    /* #main-doc{
      margin-left: 20%;
    } */
  }

  .box {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }